{% extends "master.html" %}
{% block title%}{{titulo}}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
               Módulo de Creación de Usuarios
            </div>
            <div class="card-body">
                <form id="frmRegUsuarios">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Persona</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}