<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta name="Description" content="Sistema de registro de inventario" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='graduation-cap-solid.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.2/cosmo/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='datatables/datatables.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='sweetalert2/sweetalert2.min.css') }}">
  <title>{% block title %}{% endblock %}</title>
  <style>
    body {
      background-color: #E9F4FF;
    }

    .menu {
      color: white;
    }
  </style>
</head>

<body>

  <div class="wrapper">
    <!-- Sidebar  -->
    {% include 'sidebar.html' %}

    <!-- Page Content  -->
    <div id="content">
      {% include 'header.html' %}

      <div class="container-fluid">
        {% block content %}{% endblock %}
      </div>

    </div>

    <div class="overlay"></div>

    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fontawesome/js/all.min.js') }}"></script>
    <!-- Popper.JS -->
    <script src="{{ url_for('static', filename='bootstrap/js/popper.min.js') }}"></script>
    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="{{ url_for('static', filename='sweetalert2/sweetalert2.all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='datatables/datatables.min.js') }}"></script>
    <script type="text/javascript">
      var getUrl = window.location;
      var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";
      $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
          theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
          $('#sidebar').removeClass('active');
          $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
          $('#sidebar').addClass('active');
          $('.overlay').addClass('active');
          $('.collapse.in').toggleClass('in');
          $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
      });
    </script>
    {% block javascript %}

    {% endblock %}
</body>

</html>